name: check

on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2.1.0

      - name: Install dependencies
        run: bun install

      - name: Run linter
        run: bun run lint

      - name: Run formatter
        run: bun run format
